<h3>A small app for keeping score in Magic: The Gathering</h3>

<p>
  Magic: The Gathering (MTG; also known as Magic) is a trading card game created by Richard Garfield.
</p>
<p>
  First published in 1993 by Wizards of the Coast, Magic was the first trading card game produced and it continues to thrive, with approximately twenty million players as of 2015.[1][2][3] Magic can be played by two or more players in various formats, the most common of which uses a deck of 60+ cards, either in person with printed cards or through the Internet-based Magic: The Gathering Online, on a smartphone or tablet, or other programs, using a deck of virtual cards.
</p>

