<div [hidden]="formHidden" class="col-md-6">
  <form (submit)="addPlayer(name, life)">
    <div class="form-group">
      <h2>Add Player</h2> <br>
      <label>Player Name</label> <br>
      <input #name class="form-control"> <br>
      <label>Starting Life</label> <br>
      <input #life value="20" class="form-control"> <br>
      <button class="btn btn-default" type="submit">Add</button>
    </div>
  </form>
</div>
<button class="btn btn-default" (click)="hideForm()">Hide/Show Form</button>
<div>
  <h2>Player List:</h2>
  <table>
    <tr>
      <th>Player</th><th>Life</th><th>Poison</th>
    </tr>
    <tr *ng-for="#player of playerList.get()" [ng-style]="{'background-color': player.color}">
      <td>
        {{player.name}}
      </td>
      <td>
        {{player.life}}
        <button class="btn btn-default" (click)="player.addLife(1)">+1</button>
        <button class="btn btn-default" (click)="player.addLife(5)">+5</button>
        <button class="btn btn-default" (click)="player.removeLife(1)">-1</button>
        <button class="btn btn-default" (click)="player.removeLife(5)">-5</button>
      </td>
      <td>
        {{player.poisonCount}}
        <button class="btn btn-default" (click)="player.addPoisonCount(1)">+1</button>
        <button class="btn btn-default" (click)="player.removePoisonCount(1)">-1</button>
      </td>
    </tr>
  </table>
</div>
